@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #fafafa;
  --color-white-hover: #dddddd;
  --color-textual-gray: #808080;
  --color-block-gray: #202020;
  --color-block-gray-hover: #303030;
  --color-stroke-gray: #303030;
  --color-stroke-gray-hover: #505050;
  --color-link-blue: #52a8ff;

  --spacing-navbar-height: 64px;
  --spacing-body-padding-desktop: 80px;
  --spacing-body-padding-mobile: 24px;
  --spacing-lp-section-padding: 160px;
  --spacing-lp-y-padding-desktop: 80px;
  --spacing-lp-y-padding-mobile: 40px;
  --spacing-y-padding: 40px;
}

body {
  @apply bg-black text-white tracking-[-0.5px];
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-duplicate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

.animate-marquee-duplicate {
  animation: marquee-duplicate 60s linear infinite;
}

.no-webkit-appearance {
  -webkit-appearance: none;
  appearance: none;
}
