@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #fafafa;
  --color-white-hover: #dddddd;
  --color-textual-gray: #808080;
  --color-block-gray: #202020;
  --color-block-gray-hover: #303030;
  --color-stroke-gray: #303030;
  --color-link-blue: #52a8ff;

  --spacing-navbar-height: 64px;
  --spacing-body-padding-desktop: 80px;
  --spacing-body-padding-mobile: 24px;
  --spacing-lp-section-padding: 160px;
  --spacing-lp-top-padding-desktop: 120px;
  --spacing-lp-top-padding-mobile: 80px;
}

body {
  @apply bg-black text-white tracking-[-0.5px];
}
