@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #fafafa;
  --color-textual-gray: #808080;
  --color-block-gray: #303030;
  --color-stroke-gray: #404040;
  --color-link-blue: #52a8ff;
}

body {
  @apply bg-black text-white tracking-[-0.5px];
}
